.photo {
  position: relative;

  .img {
    border-radius: 20px;
    opacity: 0.7;
  }

  &:hover .img {
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 0 10px 0 gray;
  }

  .removeIcon {
    display: none;
    position: absolute;
    top: -15px;
    right: -15px;
  }

  &:hover .removeIcon {
    display: block;
    cursor: pointer;
  }
}
